---
import { getCollection } from 'astro:content';
import { format } from 'date-fns';
import Layout from 'src/layouts/Post.astro';

import a from 'src/components/md/anchor.astro';
import p from 'src/components/md/paragraph.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post) => ({ props: post, params: { slug: post.slug } }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <header class="bg-gradient-to-t"></header>

  <div class="flex items-center justify-between py-5">
    <a
      href="/"
      class="flex h-12 w-12 items-center justify-center rounded-full p-2 text-white lg:hover:bg-white/20"
    >
      <svg
        width="15"
        height="15"
        viewBox="0 0 15 15"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M6.85355 3.14645C7.04882 3.34171 7.04882 3.65829 6.85355 3.85355L3.70711 7H12.5C12.7761 7 13 7.22386 13 7.5C13 7.77614 12.7761 8 12.5 8H3.70711L6.85355 11.1464C7.04882 11.3417 7.04882 11.6583 6.85355 11.8536C6.65829 12.0488 6.34171 12.0488 6.14645 11.8536L2.14645 7.85355C1.95118 7.65829 1.95118 7.34171 2.14645 7.14645L6.14645 3.14645C6.34171 2.95118 6.65829 2.95118 6.85355 3.14645Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
        >
        </path>
      </svg>
    </a>

    <a
      target="_blank"
      href={post.data.thumbnail.split(/banner.png|static/g)[0]}
      class="flex items-center gap-x-2 rounded-full bg-[#ff4700] px-4 py-2 text-white"
    >
      <span>Visit Website</span>

      <svg
        width="15"
        height="15"
        fill="none"
        viewBox="0 0 15 15"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M3.64645 11.3536C3.45118 11.1583 3.45118 10.8417 3.64645 10.6465L10.2929 4L6 4C5.72386 4 5.5 3.77614 5.5 3.5C5.5 3.22386 5.72386 3 6 3L11.5 3C11.6326 3 11.7598 3.05268 11.8536 3.14645C11.9473 3.24022 12 3.36739 12 3.5L12 9.00001C12 9.27615 11.7761 9.50001 11.5 9.50001C11.2239 9.50001 11 9.27615 11 9.00001V4.70711L4.35355 11.3536C4.15829 11.5488 3.84171 11.5488 3.64645 11.3536Z"
        >
        </path>
      </svg>
    </a>
  </div>

  <img
    draggable="false"
    class="rounded-md"
    alt={post.data.title}
    src={post.data.thumbnail}
  />

  <!-- <h1 class="font-inter text-6xl font-black text-white">{post.data.title}</h1> -->
  <small class="text-white">
    {format(new Date(post.data.date), 'MMMM dd, yyyy')}
  </small>

  <span class="border border-gray-50/20"></span>

  <Content components={{ a, p }} />
</Layout>
