---
import Apps from '@/components/Apps.svelte';
import Clones from '@/components/Clones.svelte';
import CurrentlyWorking from '@/components/CurrentlyWorking';
import Experiments from '@/components/Experiments.svelte';
import Intro from '@/components/Intro.astro';
import Version from '@/components/Version';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  className="bg-[#161412] font-inter"
  about="A simple, minimal, and beautiful blog theme for Astro."
>
  <div class="grid grid-cols-1 gap-y-10 lg:grid-cols-12">
    <Intro />
    <CurrentlyWorking client:load />
    <Clones client:load />
    <Apps client:load />
    <Experiments client:load />
  </div>

  <Version client:load />

  <div class="b fixed right-3 top-3 rounded-full bg-red/40 px-5 py-2 text-sm">
    ⚠️ Under Construction, do not cross.
  </div>
</Layout>
