---
export interface Props {
  shell?: 'bash' | 'zsh';
  error?: boolean;
  entry: string[];
}

const { entry, error = false, shell = 'zsh' } = Astro.props as Props;

const SHELLS = {
  bash: [import.meta.env.PUBLIC_USERNAME, '@', ''],
  zsh: ['->', '~'],
};
---

<div class="m-12 flex items-center text-xl font-bold select-none">
  {
    shell === 'zsh' ? (
      <div class="flex gap-x-3 mr-3">
        <span class={error ? 'text-red' : 'text-green'}> {'->'} </span>
        <span class="text-cyan"> {'~'} </span>
      </div>
    ) : null
  }
  <div class="flex gap-x-3">
    {
      entry.map((item, index) => (
        <span class={!index ? 'text-green' : null}> {item} </span>
      ))
    }
  </div>
</div>
