---
import Link from "./Link.astro";

export interface Props {
  title: string;
  about: string;
  ref: string;
}

const { about, ref, title } = Astro.props as Props;
---

<article class="flex flex-col gap-y-1 justify-between mb-7">
  <h1 class="text-cyan uppercase font-bold">--{title}</h1>
  <span>{about}</span>
  <Link goto={ref} />
</article>
