---
import { format } from 'date-fns';

interface Project {
  title: string;
  about: string | null;
  date: string;
  ref: string;
  size: number;
}

export interface Props {
  items: Project[];
}

type Index = keyof typeof colors;

const { items } = Astro.props as Props;

const colors = {
  0: 'text-yellow',
  1: 'text-red',
  2: 'text-green',
};

const digits = {
  0: 'r',
  1: 'w',
  2: 'x',
};
---

<ul class="flex flex-col gap-y-1">
  {
    items.map((child) => (
      <li class="flex gap-x-7">
        <div class="flex gap-x-1 text-sm md:text-lg">
          <span class="text-purple"> d </span>

          {[1, 2, 3].map((group, index) => (
            <div class="flex gap-x-1">
              {[0, 1, 1]
                .sort(() => Math.random() - 0.5)
                .map((perm, index) => (
                  <span class={perm ? colors[index as Index] : null}>
                    {perm ? digits[index as Index] : '-'}
                  </span>
                ))}
            </div>
          ))}
        </div>

        <div class="flex grow gap-x-7">
          <div class="justify-between gap-x-7 hidden md:flex">
            <span class="text-green">
              {String(child.size).length === 2 ? '1' + child.size : child.size}
            </span>

            <span class="text-yellow">GITHUB</span>

            <div class="flex gap-x-2">
              {format(new Date(child.date), 'dd-MMM-k:mm')
                .split('-')
                .map((item) => (
                  <span class="hidden md:block text-purple"> {item} </span>
                ))}
            </div>
          </div>

          <div class="flex items-center justify-between grow">
            <span class="text-purple text-sm md:text-lg text-center">
              {child.title}
            </span>
            <a
              title={child.about}
              href={child.ref}
              target="_blank"
              class="flex items-center"
            >
              <svg
                width="15"
                height="15"
                fill="none"
                viewBox="0 0 15 15"
                class="hover:text-pink"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3 2C2.44772 2 2 2.44772 2 3V12C2 12.5523 2.44772 13 3 13H12C12.5523 13 13 12.5523 13 12V8.5C13 8.22386 12.7761 8 12.5 8C12.2239 8 12 8.22386 12 8.5V12H3V3L6.5 3C6.77614 3 7 2.77614 7 2.5C7 2.22386 6.77614 2 6.5 2H3ZM12.8536 2.14645C12.9015 2.19439 12.9377 2.24964 12.9621 2.30861C12.9861 2.36669 12.9996 2.4303 13 2.497L13 2.5V2.50049V5.5C13 5.77614 12.7761 6 12.5 6C12.2239 6 12 5.77614 12 5.5V3.70711L6.85355 8.85355C6.65829 9.04882 6.34171 9.04882 6.14645 8.85355C5.95118 8.65829 5.95118 8.34171 6.14645 8.14645L11.2929 3H9.5C9.22386 3 9 2.77614 9 2.5C9 2.22386 9.22386 2 9.5 2H12.4999H12.5C12.5678 2 12.6324 2.01349 12.6914 2.03794C12.7504 2.06234 12.8056 2.09851 12.8536 2.14645Z"
                  fill="currentColor"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
      </li>
    ))
  }
</ul>
